REACT_APP_LIVEKIT_URL=wss://guthi-dv24qh7i.livekit.cloud
REACT_APP_TOKEN_ENDPOINT=/api/livekit-token

# Sign Language Detection Backend
REACT_APP_API_URL=http://localhost:5000

# Backend LiveKit Credentials (use only on backend)
LIVEKIT_API_KEY=APIsq7Gvda7MQu6
LIVEKIT_API_SECRET=zkYeaCUvaeJypa9nZ6OwAfDh4473WVUIFYLvooekFXqA
